- var domain = 'http://localhost:3000/'
- var imagePath = '../images'
- var cssPath = '../stylesheets'
- var jsPath = '../javascripts'
-
  var pages = {
    top : {
      url : './top.html',
      script: '/top.js',
      title : 'toppage'
    }
  }
