meta(charset="utf-8")
meta(content=page.title, property="og:title")

title #{page.title}

link(rel="stylesheet", href="/stylesheets/style.css")
link(rel="stylesheet", href="/stylesheets/development.css")
